.intro {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  .hide {
    background: black;
    overflow: hidden;
    .text {
      display: inline-block;
      transform: translateY(100%);
      &.big {
        color: #883977;
        font-size: 5rem;
      }
      &.center {
        text-align: center;
      }
    }
  }
}

.slider {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 3;
  background: #883977;
  top: 0;
  left: 0;
  transform: translateY(100%);
}

#intro2 {
  z-index: 2;
}
#slider2 {
  z-index: 3;
}
#intro1 {
  z-index: 4;
}
#slider1 {
  z-index: 5;
}
