main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  perspective: 1000px;
}

.container {
  position: absolute;
  bottom: 10vh;
  top: 10vh;
  left: 50%;
  right: 50%;
  width: 70%;
  margin: auto;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  .main-title {
    height: 300px;
    h2 {
      text-shadow: 1px 1px 1px rgba($color: #000000, $alpha: 0.5);
    }
    .title {
      position: relative;
      margin: 2rem;
      transform-style: preserve-3d;

      h1 {
        line-height: 130px;
        transition: all 0.75s ease-out;
        display: inline-block;
      }
      .circle {
        background: #883977;
        border-radius: 50%;
        height: 130px;
        width: 130px;
        position: absolute;
        z-index: -1;
        margin: auto;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        // box-shadow: 0 2px 5px rgba($color: #000000, $alpha: 0.5);
      }
    }
  }
}

nav {
  position: relative;
  width: 100%;
  height: 10vh;
  padding: 0 5rem;
  margin: auto;
  display: flex;
  align-items: center;
  z-index: 1;
  color: white;
  background: rgba(0, 0, 0, 0.4);
  .logo {
    font-size: 2rem;
    font-weight: 500;
    margin-right: auto;
  }
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      margin-left: 5rem;
      cursor: pointer;
      a {
        width: 100%;
      }
    }
  }
}

img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  object-fit: cover;
}
